.navbar{
    background-color: sandybrown;
    color:white  !important;
}
.navbar-brand{
    color: white  !important;
    
}
div.display {
    transition:visibility 2s linear;
  }
.display{
    opacity: 1;
    display: flex;
}
.dontdisplay{
    opacity: 0;
    display: none;
}
.search{
  margin-top: 1rem;
}
body{
    background:lightblue;
}
img{
    max-width: 700px;
}